Source: playout-liquidsoap
Section: sound
Priority: optional
Maintainer: Milan Chrobok <mc@radiopiloten.de>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.1
Homepage: https://launchpad.net/~mc-1/+archive/playout

Package: playout-liquidsoap
Architecture: any
Depends: ${misc:Depends}, quelcom
Description: liquidsoap service plugin for playout
 configured at /etc/playout/liquidsoap/start.conf
